<link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<!------ Include the above in your HEAD tag ---------->

<div class="container">
    <br><br><br><br><br>
    <div id="loginbox" class="mainbox col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3">

        <div class="row">
            <div class="iconmelon">
                <g filter="">
                  <use xlink:href="#git"></use>
                </g>
            </div>



        <div class="panel panel-default" >
            <div class="panel-heading">
                <div class="panel-title text-center">Change Password</div>
            </div>

            <div class="panel-body" >

                <form action = "/admin/forgot_password" name="form" id="form" class="form-horizontal" enctype="multipart/form-data" method="POST">

                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                        <input id="name" autofocus autocomplete = "off" type="text" class="form-control" name="name" value="" placeholder="Name">
                    </div>

                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                        <input id="user" autofocus autocomplete = "off" type="text" class="form-control" name="username" value="" placeholder="Username">
                    </div>

                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
                        <input id="email" type="email" class="form-control" name="email" placeholder="Email">
                    </div>

                    <br>

                    <div class="form-group">
                        <!-- Button -->
                        <div class="col-sm-12 controls">
                            <button type="submit" class="btn btn-primary pull-right"><i class="glyphicon glyphicon-log-in"></i> Get Password <a href="#myModal"></a></button>
                        </div>
                    </div>

                </form>

            </div>
        </div>
    </div>
</div>

