{% extends "layout.html" %}

{%  block main %}
<script src="/static/js/nivo-lightbox.min.js"></script>
    <div class="wrapper row3">
        <div class="rounded clear">
            <main class="container clear">

            <!-- main body -->

            <div id="gallery">
                <figure>
                    <header class="heading">Latest Images From The University</header>

                    <ul class="nospace clear">

                        <li class="one_quarter first"><a class="nlb" data-lightbox-gallery="gallery1" href="/static/images/250_250/cotton (0).jpeg" title="cotton (0)"><img class="borderedbox" src="/static/images/250_250/cotton (0).jpeg" alt=""></a></li>
                        <li class="one_quarter"><a class="nlb" data-lightbox-gallery="gallery1" href="/static/images/250_250/cotton (2).jpg" title="cotton (2)"><img class="borderedbox" src="/static/images/250_250/cotton (2).jpg" alt=""></a></li>
                        <li class="one_quarter"><a class="nlb" data-lightbox-gallery="gallery1" href="/static/images/250_250/cotton (3).jpg" title="cotton (3)"><img class="borderedbox" src="/static/images/250_250/cotton (3).jpg" alt=""></a></li>
                        <li class="one_quarter"><a class="nlb" data-lightbox-gallery="gallery1" href="/static/images/250_250/cotton (4).jpg" title="cotton (4)"><img class="borderedbox" src="/static/images/250_250/cotton (4).jpg" alt=""></a></li>
                        <li class="one_quarter first"><a class="nlb" data-lightbox-gallery="gallery1" href="../images/250_250/cotton (5).jpg" title="cotton (5)"><img class="borderedbox" src="/static/images/250_250/cotton (5).jpg" alt=""></a></li>
                        <li class="one_quarter"><a class="nlb" data-lightbox-gallery="gallery1" href="/static/images/250_250/cotton (6).jpg" title="cotton (6)"><img class="borderedbox" src="/static/images/250_250/cotton (6).jpg" alt=""></a></li>
                        <li class="one_quarter"><a class="nlb" data-lightbox-gallery="gallery1" href="/static/images/250_250/cotton (7).jpg" title="cotton (7)"><img class="borderedbox" src="/static/images/250_250/cotton (7).jpg" alt=""></a></li>
                        <li class="one_quarter"><a class="nlb" data-lightbox-gallery="gallery1" href="/static/images/250_250/cotton (8).jpg" title="cotton (8)" width="250" height="250"><img class="borderedbox" src="/static/images/250_250/cotton (8).jpg" alt="" width="250" height="250"></a></li>
                        <li class="one_quarter first"><a class="nlb" data-lightbox-gallery="gallery1" href="../images/250_250/cotton (9).jpg" title="cotton (9)" width="250" height="250"><img class="borderedbox" src="/static/images/250_250/cotton (9).jpg" alt="" width="250" height="250"></a></li>
                        <li class="one_quarter"><a class="nlb" data-lightbox-gallery="gallery1" href="/static/images/250_250/cotton (10).jpg" title="cotton (10)"><img class="borderedbox" src="/static/images/250_250/cotton (10).jpg" alt=""></a></li>
                        <li class="one_quarter"><a class="nlb" data-lightbox-gallery="gallery1" href="/static/images/250_250/cotton (1).jpg" title="cotton (1)"><img class="borderedbox" src="/static/images/250_250/cotton (1).jpg" alt=""></a></li>
                        <li class="one_quarter"><a class="nlb" data-lightbox-gallery="gallery1" href="/static/images/250_250/cotton (11).jpg" title="cotton (11)"><img class="borderedbox" src="/static/images/250_250/cotton (11).jpg" alt=""></a></li>

                    </ul>

                    <figcaption>Gallery Description Goes Here</figcaption>
                </figure>
            </div>

            <nav class="pagination">
                <ul>
                    <li><a href="#">&laquo; Previous</a></li>
                    <li class="current"><strong>1</strong></li>
                    <li><a href="#">2</a></li>
                    <li><strong>&hellip;</strong></li>
                    <li><a href="#">8</a></li>
                    <li><a href="#">9</a></li>
                    <li><strong>&hellip;</strong></li>
                    <li><a href="#">14</a></li>
                    <li><a href="#">15</a></li>
                    <li><a href="#">Next &raquo;</a></li>
                </ul>
            </nav>

            <!-- / main body -->

            <div class="clear"></div>

            </main>
        </div>
    </div>
{% endblock %}
